extend layout

block homebox
  .homebox
    .title
      | About
    .para
      p SL Bio Bot checks the bios of Sri Lankan tweeps from time to time for fun <strike>and profit</strike>. He gets excited when he finds out that someone has changed the bio. 
      p Since recently, it tracks username changes as well. Such a nosy rosy.
      p The bot is still in beta. He is smart, but he's not perfect.
      p 
        | If you have any suggestions, criticisms or anecdotes to share, mention 
        a(href='https://twitter.com/slbiobot') @SLBioBot
        |  on Twitter.

