extend layout

block homebox
  .homebox
    .title
      | About
    .para
      p SL Bio Bot checks the bios of Sri Lankan tweeps from time to time for fun <strike>and profit</strike>. He gets excited when he finds out that someone has changed the bio.
      p The bot is still in beta. He is smart, but he's not perfect.
      p If you have any suggestions, criticisms or anecdotes to share, do drop a line to <a href="mailto:slbiobot@gmail.com">slbiobot@gmail.com</a>. 

