extend layout

block infobox
  .infobox
    .handle
      !{handle}
    .current.segment
      p.title Current bio:
      p #{current}
    .diff.segment
      p.title Diff:
      p !{difftext}
    .old.segment
      p.title Old bio:
      p #{old}

