extend layout

block homebox
  .homebox
    .title
      | Frikkin' Awesome Questions
    .subheading
      | What is this madness?
    .para
      p A bot having some fun is not madness.
    .subheading
      | How does the bot recognize Sri Lankans?
    .para
      p Atm, it's a manually curated list.
    .subheading
      | I don't want to be in that list
    .para
      p Sure thing. Just drop a mail to <a href="mailto:slbiobot@gmail.com">slbiobot@gmail.com</a>. 
    .subheading
      | I changed my bio, but the bot was silent. Why? :(
    .para
      p You're not in the list, yet. Please drop a mail to <a href="mailto:slbiobot@gmail.com">slbiobot@gmail.com</a> or mention <a href="https://twitter.com/slbiobot">@slbiobot</a> on twitter.

