extend layout

block homebox
  .homebox
    .title
      | Frikkin' Awesome Questions
    .subheading
      | What is this madness?
    .para
      p A bot having some fun is not madness.
    .subheading
      | How does the bot recognize Sri Lankans?
    .para
      p Atm, it's a manually curated list.
    .subheading
      | I changed my bio, but the bot was silent. Why? :(
    .para
      p You're not in the list, yet. Please mention <a href="https://twitter.com/slbiobot">@slbiobot</a> on twitter.
    .subheading
      | How can I contribute to the bot?
    .para
      p
        | Send a pull request to the 
        a(href="https://github.com/thameera/slbiobot") Github repo.

