extend layout

block homebox
  .homebox
    .quote
      | "That was one of the things that interested me about the character. He doesn't want to be a hero, and has no real desire to save the earth or discover aliens. He's sniffing around looking to see what will fall in his lap."
    .quote-author
      | Orlando Jones

