!!!5
html
  head
    title #{title} SL Bio Bot
    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Delius+Swash+Caps')
  body
    .header
      .title
        .heading
          | SL Bio Bot
        .subheading
          | Sniffing around Sri Lankan tweeps' bios like a boss
    .container
      block homebox
      block infobox
    .footer
      a(href='/about') About
      | &nbsp;|&nbsp;
      a(href='/faq') FAQ
      | &nbsp;|&nbsp;
      a(href='https://twitter.com/slbiobot') Twitter

